@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assessment</h1>
    @if (Request.IsAuthenticated)
    {
        <p class="lead">Welcome, @User.Identity.GetUserName()! You can see Authors and Books now.</p>
    }
    else
    {
        <p class="lead">Hey stranger, you can only use this site if you login!</p>
    }
</div>